.task-list{

    gap: rem(20px);
    padding: unset;
    width: 60%;
    
    .titles{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: minmax(min-content, max-content);
        background-color:rgba(216, 112, 147, 0.846);
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.30);
        color: #ffff;
        font-weight: 600;
        justify-content: center;
        align-items: center;
        span{
            text-align: center;
        }
       
    }
    .task-wrapper{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        // grid-auto-rows: minmax(min-content, max-content);
        border:1px solid rgba(128, 128, 128, 0.601);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.30);
        margin: 20px auto ;
        align-items: center;
        justify-content: center;
        line-height: 2.8;
        animation: 0.5s;
        padding: rem(20px);
        span{
            text-align: center;
        }
        .el-icon{
            height: unset;
            width: unset;
            display: flex;
            justify-content: space-evenly;
            
            svg{
                height: rem(22px);
                width: rem(22px);
            }

        }
        .task-status{
       
                align-self: flex-start;
                border-radius: 10px;
                padding: 2px 4px;
                font-size: 16px;
                // min-width: 300px;
                text-align: center;
           
        }
     
       

    }
    
}

.filters{
    padding: rem(10px);
    
    
   div{
    margin-inline-start: 20px;
    
    
   }
}

.New{
    background-color: rgba(66, 161, 255, 0.466);
}
.Dan{
    background-color: hsl(101deg 53% 75%);
}

.Failed{
    background-color: hsl(0deg 87% 85%);
}