@font-face {
    font-family: OpenSans-Regular;
    src: url("/src/assets/font/OpenSans-Regular.ttf");
}
@font-face {
    font-family: Raleway-Bold;
    src: url("/src/assets/font/Raleway-Bold.ttf");
    
}
@font-face {
    font-family: Raleway-Thin;
    src: url("/src/assets/font/Raleway-Thin.ttf");
}
